*{
    margin: 0;
    padding: 0;
}

/* HEADER */



#top h1{
padding: 40px;
letter-spacing: 3px;
}
#mid{
    display: flex;
    height: auto;
    margin: 0px 0px 50px 40px;
    /* border: 2px solid red; */
}
#mid-1{
    height: 400px;
    width: 60%;
    background-image: url("images/blog.jpg");
    background-position: center;
    background-size: cover;

}
#mid-blog-2{
    height: 400px;
    width: 40%;
}
#mid-blog-2 h1{
    font-size: 30px;
    padding: 10px 10px;
    letter-spacing: 2px;
}
#mid-blog-2 h4{
    padding: 10px 10px;
}
#mid-blog-2 p{
    padding: 0px 10px;
    font-size: 18px;
}
#mid-blog-2 button{
    margin-left: 3px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    padding-bottom: 2px;
    margin-top: 10px;
    margin: 20px 10px;
    height: 35px;
    width: 150px;
}
#bottom{
    display: flex;
    flex-direction: row;
}
#bottom>div{
    margin: 20px;
    width: 50%;
    /* border: 2px solid red; */
    text-align: center;
    
}
#bottom>div img{
    width: fit-content;
    height: 400px;
    margin: auto;
}
#bottom>div h3{
    padding: 5px 0px;
    letter-spacing: 2px;
}
#bottom>div h4{
    padding: 10px 0px;
}
#bottom>div p{
    /* width: 600px; */
    font-size: 18px;
    padding: 10px 25px;
}
#bottom>div button{
    margin: 10px 20px;
    width: 110px;
    height: 35px;
}

@media(max-width:1260px){
    #bottom>div{
        width: 40%;
    }
    #bottom>div img{
        width: 400px;
        height: 300px;
    }
    #mid-blog-2 h1{
        font-size: 25px;
    }
    
}
@media(max-width:990px){
    #mid{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
    }
    #mid>div{
        margin: auto;
        /* border: 2px solid red; */
        width: 100%;
    }
    #bottom{
        display: flex;
        flex-direction: column;
    }
    #bottom>div{
        margin: auto;
        width: 100%;
    }
    
}
@media(max-width:450px){
    #bottom>div img{
        width: 300px;
        height: 200px;
    }
    #mid-blog-2{
        height: 600px;
        width: 40%;
    }
}

header{
    height: 63px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}
#logohead{
    font-size: 34px;
    margin-top: 15px;
    margin-left: 12px;
    color: white;
    /* margin-left: -200px; */
    transition: all 1.3s;
    
    text-overflow: hidden;
}
#logohead>a{
    font-size: 34px;
    margin-top: 15px;
    margin-left: 12px;
    color: white;
    /* margin-left: -200px; */
    transition: all 1.3s;
    text-decoration: none;
    text-overflow: hidden;
}
#head{
    margin-top: 10px;
    display: flex;
    /* display: none; */
    transition: all 1.3s;
    text-overflow: hidden;

}
#head li{
    background-color: transparent;
    border: none;
    text-align: center;
    padding-top: 2px;
    margin-left: 20px ;
}
.header-ruler{
    margin: 0px 0px;
}
.button-top{
    margin: 15px 10px;
    padding: 0px;
    width: 230px;
    text-overflow: hidden;
}
/* #mid-btn1{
    transition: all 1.3s;
    margin-right: -300px;
} */
.button-top img{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    filter: invert();
    margin-bottom: -10px;
    display: none;
}
.button-top button{
    margin-left: 3px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 16px;
    padding-bottom: 2px;
    margin-top: 10px;
}
.list-head{
    font-size:20px ;
    list-style: none;
    margin: 10px 10px 10px 10px;
    border: 2px solid #0d6efd;
    margin: 0px 0px;
    margin-top: 10px;
    width: 88px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 4px;
    margin-right: 3px;
    color: white;
    background-color: #0d6efd;
} 
.upper-link{
    color: white;
    text-decoration: none;
}